footer{
    padding:70px 0;
    background:#090909;
    border-top:1px solid rgba(214,180,124,.08);
}
footer .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.footer-logo{
    width:150px;
}
footer p{
    color:var(--cinza);
    font-size:.95rem;
}