@charset "UTF-8";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    background:var(--preto);
    color:var(--branco);
    font-family:var(--texto);
    overflow-x:hidden;
}
img{
    width:100%;
    display:block;
}
a{
    text-decoration:none;
    color:inherit;
}
:focus-visible{
    outline:2px solid var(--dourado);
    outline-offset:4px;
}
ul{
    list-style:none;
}
.container{
    width:min(var(--container),90%);
    margin:auto;
}
.section{
    padding:var(--section-padding) 0;
}
